$font-stack: 'Golos';
$font-title:'Fira Sans';
$color_tabs:#F4F4F6;
$font-size_title: 6.8rem;
$font-size_th_td:2.2rem;
$font-size_btnn:1.6rem;


@import "fonts";
@charset "UTF-8";

@media only screen and (min-width: 20em) and (max-width: 48em) {
html {
  font-size: 0.75vw;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header-prioritet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 130rem;
	&__title {
		  width: 71.5rem;
		  height: 12.0rem;
		  padding-top: 6.5rem;
		  margin-left: 4.5rem;
		  text-transform: uppercase;
		  font-family: $font-title;
		  font-style: italic;
		  font-weight: 700;
		  font-size: $font-size_title;
		  align-items: center;
		  letter-spacing: 0.105em;
		  transform: skew(0 deg);
		  opacity: 0.5;
		  color: white;
		  text-shadow: 0.1rem 0 0.1rem #668BD5,  0 0.1rem 0.1rem #668BD5,  -0.1rem 0 0.1rem #668BD5,  0 -0.1rem 0.1rem #668BD5;
		}
	&__point {
		  width: 27.5rem;
		  height: 17.8rem;
		}
	&__point_img {
		  width: 15.847rem;
		  height: 1.114rem;
		  margin-top: 9.6rem;
		  background: url(./point/point.png);
		  opacity: 0.5;
		}
		
	&__text {
		  height: 19.6rem;
		  margin-right: 0;
		 &_p {
			  width: 26.5rem;
			  height: 7.1rem;
			  margin-top: 7rem;
			  font-family: $font-stack;
			  font-style: normal;
			  font-weight: 400;
			  font-size: 1rem;
			  line-height: 150%;
			  /* or 15px */
			  text-align: right;
			  color: #668BD5;
			} 
		  
		}
	&_point_box_img {
		  text-align: right;
		  margin-left: 22.8rem;
		  margin-top: -11.8rem;
		  background: url(./point/point_box.png);
		  height: 15.9rem;
		  width: 7.9rem;
		}
}

.prioritet {
  width: 130rem;
}

.title-prioritet {
  overflow-y: scroll;
  height: 152rem;
  width: 130rem;
  overflow-x: hidden;
  background: #FFFFFF;
}

#style-1::-webkit-scrollbar-track {
  overflow: hidden;
}

#style-1::-webkit-scrollbar {
  width: 1rem;
  height: 38rem;
}

#style-1::-webkit-scrollbar-thumb {
  background-color: #acacac;
  border-radius: 1rem;
}

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  background-color: #F5F5F5;
}


.tabs {
  background-color: $color_tabs;
  margin-left: 4.5rem;
  width: 125rem;
  padding-top: 0.4rem;
  
   &__podl {
	  background-color: $color_tabs;
	  margin-left: 4rem;
	  width: 130rem;
	  height: 23rem;
	}
  
}

.tabs > input[type="radio"] {
  display: none;
}

.tabs > input[type="radio"]:checked + label {
  background: $color_tabs;
  width: 28.8rem;
  font-weight: bold;
  border-bottom: 0.7rem solid green;
}

.tabs > div {
  /* скрыть контент по умолчанию */
  display: none;
  font-family: $font-stack;
  font-size: 3.4rem;
  font-weight: bold;
  margin-top: 6.9rem;
  background: #FFFFFF;
  margin-left: 0rem;
}

.programm_title {
  font-family: $font-stack;
  padding: 6.3rem 0rem;
  font-size: 3.4rem;
  font-weight: bold;
  height: 1.5rem;
}

/* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab-btn-1:checked ~ #programm,
#tab-btn-2:checked ~ #content-2,
#tab-btn-3:checked ~ #content-3,
#tab-btn-4:checked ~ #content-4 {
  display: block;
}

.tabs > label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background: $color_tabs;
  font-size: 2.4rem;
  font-weight: 400;
  font-family: $font-stack;
  padding: 7.6rem 0.3rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  cursor: pointer;
  width: 28.8rem;
  margin-left: -0.5rem;
  margin-top: 0rem;
  height: 0rem;
  border-bottom: 0.2rem solid grey;
}

.tabs > label:first-of-type {
  margin-left: none;
}

.show {
  margin-top: -1.5rem;
  margin-left: 1rem;
  line-height: 1.4;
  width: 26rem;
}

th {
  border-bottom: 1px solid;
  font-size: $font-size_th_td;
  font-weight: bold;
  font-family: $font-stack;
  text-align: left;
  height: 11.5rem;
}

td {
  border-bottom: 1px solid;
  font-size: $font-size_th_td;
  font-weight: 400;
  font-family: $font-stack;
  height: 9rem;
  text-align: left;
}

table {
  width: 100%;
}

.one-colon {
  width: 59.5%;
  text-align: left;
}

.two-colon {
  width: 40.5%;
  text-align: left;
}

/* стилизуем кнопку */
.menu__btnn {
  display: flex;
  justify-content: center;
  border: 0rem #ffffff;
  align-items: center;
  width: 19rem;
  height: 3.1rem;
  text-transform: uppercase;
  cursor: pointer;
  /*вид курсора*/
  border-radius: 2rem;
  background: $color_tabs;
  color: #A3A496;
  font-size: $font-size_btnn;
  font-weight: bold;
  font-family: $font-stack;
  -webkit-transition: opacity ease 0.5s;
  transition: opacity ease 0.5s;
}

.title-one-colon {
  width: 78.5%;
}

.title-two-colon {
  width: 21.5%;
  padding-left: 1.5rem;
}

/*# sourceMappingURL=style.css.map */

}